<app-header></app-header>
<div class="container">
    <div class="col-12 col-md-8 col-lg-6">
        <h2>Cadastrar Fornecedor</h2>
        <form>
            <div class="form-group">
                <label for="supplierName">Nome do fornecedor</label>
                <input type="text" class="form-control" id="supplierName" placeholder="Digite o nome do fornecedor" required>
            </div>
            <div class="form-group">
                <label for="supplierEmail">Email</label>
                <input type="email" class="form-control" id="supplierEmail" placeholder="Digite o endereço de email" required>
            </div>
            <div class="form-group">
                <label for="supplierPhone">Telefone de contato</label>
                <input type="tel" class="form-control" id="supplierPhone" placeholder="Digite o número de telefone" required>
            </div>
            <div class="form-group">
                <label for="supplierAddress">Endereço</label>
                <textarea class="form-control" id="supplierAddress" rows="3" placeholder="Digite o endereço" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>