@media (max-width: 767px) {
  .white-box {
    padding: 20px;
  }

  .form-control {
    width: 80%;
    margin: 0 auto;
  }

  .form-label {
    text-align: center;
    display: block;
  }

  .btn-primary {
    width: 80%;
    margin: 0 auto;
  }

  .text-center {
    text-align: center;
  }
}
.spinner-border {
  width: 3rem;
  height: 3rem;
}