.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    width: 100%;
  }

  .example-full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input-group-append {
    display: flex;
    align-items: center;
  }