.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    width: 100%;
  }

  .example-full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input-group-append {
    display: flex;
    align-items: center;
  }

  .mic-icon {
    font-size: 24px;
  }
  
  .pulsing {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      color: white;
      transform: scale(1);
    }
    50% {
      color: darkred;
      transform: scale(1.2);
    }
    100% {
      color: white;
      transform: scale(1);
    }
  }
  .circular-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .transcription-result p {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .transcription-result button {
    margin-top: 10px;
    margin-right: 5px;
  }