.header{
  margin: 0.3%;
  display: block;
}

.title{
  font-size: 30px;
  padding-left: 42%;
}

.stock-item{
  text-align: center;
}

.quantity-control{
  padding: 2%;
  display: inline-block;
}

#atualizar{
  padding: 3%;
  text-align: right;
}
/* Estilo para o cabeçalho */
.header {
  display: flex;
  align-items: center;
  background-color: #f5e6a4;
  padding: 10px;
  font-weight: bold;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5em;
  margin-right: 10px;
  cursor: pointer;
}

.title {
  font-size: 1.2em;
}

/* Estilo para o menu dropdown */
.dropdown-menu {
  position: absolute;
  top: 50px; /* Ajuste conforme necessário */
  left: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1000;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  border-bottom: 1px solid #ddd;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f5e6a4;
}