H2{
    margin: 0.3%;
    display: block;
    text-align: center;
  }

label {
  margin: 0 0 1% 2%;
  display: block;
}

input {
  margin: 0 0 2% 2%;
  display: inline-block;

}

.update-button {
  margin: 0 0 1% 2.5%;
}