<div class="bottom-navbar">
    <a routerLink="/home" class="nav-item" [class.active]="selectedTab === 'home'" (click)="selectTab('home')">
      <i class="fas fa-home"></i>
    </a>
    <a routerLink="/stock-list" class="nav-item" [class.active]="selectedTab === 'stock-list'" (click)="selectTab('stock-list')">
      <i class="fas fa-warehouse"></i>
    </a>
    <a routerLink="/supplier-list" class="nav-item" [class.active]="selectedTab === 'supplier-list'" (click)="selectTab('supplier-list')">
      <i class="fas fa-truck"></i>
    </a>

    <a routerLink="/order-list" class="nav-item" [class.active]="selectedTab === 'order-list'" (click)="selectTab('order-list')">
      <i class="fas fa-shopping-cart"></i>
    </a>
    <a routerLink="/profile" class="nav-item" [class.active]="selectedTab === 'profile'" (click)="selectTab('profile')">
        <i class="fas fa-user"></i>
      </a>
  </div>