<div class="bottom-navbar">
    <a routerLink="/home" class="nav-item" [class.active]="selectedTab === 'home'" (click)="selectTab('home')">
      <i class="fas fa-home"></i>
    </a>
    <a routerLink="/search" class="nav-item" [class.active]="selectedTab === 'search'" (click)="selectTab('search')">
      <i class="fas fa-search"></i>
    </a>
    <a routerLink="/notifications" class="nav-item" [class.active]="selectedTab === 'notifications'" (click)="selectTab('notifications')">
      <i class="fas fa-bell"></i>
    </a>

    <a routerLink="/order-list" class="nav-item" [class.active]="selectedTab === 'order-list'" (click)="selectTab('order-list')">
      <i class="fas fa-shopping-cart"></i>
    </a>
    <a routerLink="/profile" class="nav-item" [class.active]="selectedTab === 'profile'" (click)="selectTab('profile')">
        <i class="fas fa-user"></i>
      </a>
  </div>