<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="images/logo_stock_master_horizontal.png" height="34" alt="Stock Master Logo">
    </a>
    <div class="ml-auto">
      <button class="btn btn-primary" (click)="navigateToLogin()" style="margin-right: 10px; transform: scale(0.90);">Entrar</button>
    </div>
  </nav>
  <div class="divider"></div>
  <div class="banner">
    <button class="btn btn-secondary registrar-btn" (click)="navigateToRegister()">Registrar</button>
    <img src="images/land-page-img-1.png" alt="Landing Page Image" class="landing-page-img">
  </div>
  <div class="voice-recognition-section text-center">
    <img src="images/voice-img.png" alt="Voice Recognition Image" class="voice-img">
    <p class="font-weight-bold">Reconhecimento de Voz</p>
    <p class="text-gray">Nosso formulários de criação e busca possuem recursos de reconhecimento de voz.</p>

  </div>