<div class="container mt-4">
  <div *ngIf="haveLowStockNumber()">
    <div id="notificationCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let notification of notifications; let i = index" [class.active]="i === 0">
          <div class="card mb-4 shadow-sm" [ngClass]="{'bg-warning text-black': notification.type === 'warning'}">
            <div class="card-body position-relative">
              <h5 class="card-title">{{ notification.title }}</h5>
              <p class="card-text">{{ notification.message }}</p>
              <i *ngIf="notification.type === 'warning'"
                class="fas fa-exclamation-circle position-absolute top-0 end-0 m-2"></i>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#notificationCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#notificationCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- Menu -->
  <div class="row mt-4">
    <div class="col-lg-4 col-md-6 col-sm-4 col-4 mb-3 d-flex">
      <a routerLink="/product-list" class="card text-center p-3 rounded menu-card flex-fill">
        <i class="fas fa-box fa-2x mb-2"></i>
        <h6>Produtos</h6>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-4 col-4 mb-3 d-flex">
      <a routerLink="/stock-list" class="card text-center p-3 rounded menu-card flex-fill">
        <i class="fas fa-warehouse fa-2x mb-2"></i>
        <h6>Estoque</h6>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-4 col-4 mb-3 d-flex">
      <a routerLink="/client-list" class="card text-center p-3 rounded menu-card flex-fill">
        <i class="fas fa-users fa-2x mb-2"></i>
        <h6>Clientes</h6>
      </a>
    </div>
  <div class="col-lg-4 col-md-6 col-sm-4 col-4 mb-3 d-flex">
    <a routerLink="/orders" class="card text-center p-3 rounded menu-card flex-fill">
      <i class="fas fa-shopping-cart fa-2x mb-2"></i>
      <h6>Pedidos</h6>
    </a>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-4 col-4 mb-3 d-flex">
    <a routerLink="" class="card text-center p-3 rounded menu-card flex-fill">
      <i class="fas fa-cogs fa-2x mb-2"></i>
      <h6>Configurações</h6>
    </a>
  </div>
</div>