/* login.component.css */
@media (max-width: 767px) {
  .white-box {
    padding: 20px;
  }

  .form-control {
    width: 80%;
    margin: 0 auto;
  }

  .form-label {
    text-align: center;
    display: block;
  }

  .btn-primary {
    width: 80%;
    margin: 0 auto;
  }

  .text-center {
    text-align: center;
  }
}